# Step 2: Data Cleaning

In [238]:
import pandas as pd

## Import data in dataframe

In [239]:
raw_data = pd.read_csv('game_info.csv')
raw_data

,Video Game Title,Genre,Console,Publishers(s),Developer(s),Units Sold,Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,The Walking Dead: Telltale Games Series,Adventure,Series,Telltale Games,Telltale Games,50.00m,NaN,NaN,NaN,NaN,NaN,24th Apr 12
1,Professor Layton,Adventure,Series,Nintendo,Level-5,18.00m,NaN,NaN,NaN,NaN,NaN,10th Feb 08
2,Myst,Adventure,Series,Broderbund,"Cyan, Inc.",12.50m,NaN,NaN,NaN,NaN,NaN,24th Sep 93
3,Ace Attorney,Adventure,Series,Capcom,Capcom,11.00m,NaN,NaN,NaN,NaN,NaN,12th Oct 05
4,Broken Sword,Adventure,Series,Virgin Interactive,Revolution Software,10.00m,NaN,NaN,NaN,NaN,NaN,30th Sep 96
...,...,...,...,...,...,...,...,...,...,...,...,...
64963,XBlaze Lost: Memories,Visual+Novel,PC,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,11th Aug 16
64964,"Yoru, Tomosu",Visual+Novel,NS,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64965,"Yoru, Tomosu",Visual+Novel,PS4,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64966,Yunohana SpRING! ~Mellow Times~,Visual+Novel,NS,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,28th Feb 19
64967,Yurukill: The Calumniation Games,Visual+Novel,PS4,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
pd.options.display.max_rows = 1000
pd.options.display.max_columns = None

In [241]:
df = raw_data.copy()
df

,Video Game Title,Genre,Console,Publishers(s),Developer(s),Units Sold,Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,The Walking Dead: Telltale Games Series,Adventure,Series,Telltale Games,Telltale Games,50.00m,NaN,NaN,NaN,NaN,NaN,24th Apr 12
1,Professor Layton,Adventure,Series,Nintendo,Level-5,18.00m,NaN,NaN,NaN,NaN,NaN,10th Feb 08
2,Myst,Adventure,Series,Broderbund,"Cyan, Inc.",12.50m,NaN,NaN,NaN,NaN,NaN,24th Sep 93
3,Ace Attorney,Adventure,Series,Capcom,Capcom,11.00m,NaN,NaN,NaN,NaN,NaN,12th Oct 05
4,Broken Sword,Adventure,Series,Virgin Interactive,Revolution Software,10.00m,NaN,NaN,NaN,NaN,NaN,30th Sep 96
...,...,...,...,...,...,...,...,...,...,...,...,...
64963,XBlaze Lost: Memories,Visual+Novel,PC,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,11th Aug 16
64964,"Yoru, Tomosu",Visual+Novel,NS,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64965,"Yoru, Tomosu",Visual+Novel,PS4,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64966,Yunohana SpRING! ~Mellow Times~,Visual+Novel,NS,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,28th Feb 19
64967,Yurukill: The Calumniation Games,Visual+Novel,PS4,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64968 entries, 0 to 64967
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Video Game Title  64968 non-null  object
 1   Genre             64968 non-null  object
 2   Console           64968 non-null  object
 3   Publishers(s)     64968 non-null  object
 4   Developer(s)      64951 non-null  object
 5   Units Sold        4459 non-null   object
 6   Total Sales       18922 non-null  object
 7   NA Sales          12637 non-null  object
 8   PAL Sales         12824 non-null  object
 9   JP Sales          6726 non-null   object
 10  Other Sales       15128 non-null  object
 11  Release Date      57380 non-null  object
dtypes: object(12)
memory usage: 5.9+ MB

In [243]:
pd.unique(df['Units Sold'])

array(['50.00m', '18.00m', '12.50m', '11.00m', '10.00m', '9.00m', '7.60m',
       '7.50m', '7.00m', '6.51m', '6.48m', '6.44m', '6.30m', '5.50m',
       '5.30m', nan, '5.23m', '5.00m', '4.76m', '4.61m', '4.50m', '4.49m',
       '4.43m', '4.38m', '4.24m', '4.04m', '3.99m', '3.88m', '3.83m',
       '3.67m', '3.36m', '3.02m', '3.00m', '2.96m', '2.87m', '2.85m',
       '2.82m', '2.73m', '2.50m', '2.49m', '2.40m', '2.22m', '2.20m',
       '2.10m', '2.06m', '2.00m', '1.93m', '1.82m', '1.76m', '1.72m',
       '1.60m', '1.58m', '1.50m', '1.43m', '1.42m', '1.36m', '1.30m',
       '1.27m', '1.25m', '1.20m', '1.18m', '1.15m', '1.06m', '1.01m',
       '1.00m', '0.86m', '0.80m', '0.75m', '0.74m', '0.72m', '0.70m',
       '0.63m', '0.61m', '0.60m', '0.59m', '0.58m', '0.56m', '0.55m',
       '0.52m', '0.51m', '0.50m', '0.48m', '0.47m', '0.45m', '0.44m',
       '0.43m', '0.42m', '0.40m', '0.38m', '0.36m', '0.35m', '0.33m',
       '0.31m', '0.30m', '0.29m', '0.28m', '0.27m', '0.25m', '0.24m',
       '0.23m', '0.22m', '0.20m', '0.19m', '0.18m', '0.17m', '0.16m',
       '0.15m', '0.14m', '0.13m', '0.12m', '0.11m', '0.10m', '0.09m',
       '0.08m', '0.07m', '0.06m', '0.05m', '0.04m', '0.03m', '0.02m',
       '0.01m', '0.00m', '76.55m', '49.95m', '30.00m', '23.52m', '21.28m',
       '21.02m', '20.00m', '18.65m', '17.30m', '15.00m', '12.60m',
       '10.30m', '9.98m', '9.93m', '9.30m', '8.96m', '8.00m', '7.80m',
       '7.17m', '6.24m', '5.62m', '5.34m', '4.96m', '4.62m', '4.52m',
       '4.47m', '4.30m', '4.18m', '4.16m', '4.10m', '4.00m', '3.70m',
       '3.66m', '3.50m', '3.47m', '3.40m', '3.33m', '3.26m', '3.22m',
       '3.20m', '3.18m', '3.07m', '2.93m', '2.90m', '2.88m', '2.81m',
       '2.76m', '2.75m', '2.65m', '2.58m', '2.47m', '2.42m', '2.31m',
       '2.30m', '2.25m', '2.24m', '2.16m', '2.15m', '2.13m', '2.04m',
       '2.02m', '1.86m', '1.80m', '1.79m', '1.78m', '1.77m', '1.75m',
       '1.74m', '1.70m', '1.64m', '1.56m', '1.53m', '1.52m', '1.51m',
       '1.48m', '1.45m', '1.44m', '1.40m', '1.37m', '1.35m', '1.33m',
       '1.32m', '1.31m', '1.24m', '1.23m', '1.17m', '1.14m', '1.13m',
       '1.11m', '1.10m', '1.07m', '1.05m', '1.04m', '1.03m', '1.02m',
       '0.99m', '0.98m', '0.95m', '0.94m', '0.83m', '0.81m', '0.79m',
       '0.77m', '0.73m', '0.71m', '0.69m', '0.67m', '0.66m', '0.57m',
       '0.54m', '0.49m', '0.46m', '0.41m', '0.39m', '0.37m', '0.34m',
       '0.32m', '0.26m', '0.21m', '420.00m', '300.00m', '203.22m',
       '200.00m', '195.00m', '154.60m', '152.07m', '141.00m', '86.00m',
       '66.70m', '61.10m', '61.00m', '58.00m', '53.20m', '44.50m',
       '37.45m', '33.31m', '32.70m', '31.61m', '31.00m', '27.50m',
       '26.44m', '25.00m', '24.81m', '23.79m', '22.69m', '22.60m',
       '22.00m', '21.63m', '20.57m', '20.50m', '20.28m', '19.30m',
       '18.63m', '18.03m', '17.50m', '16.59m', '16.00m', '14.50m',
       '14.40m', '14.20m', '14.00m', '13.98m', '13.60m', '13.10m',
       '13.00m', '12.48m', '12.00m', '11.80m', '10.20m', '9.73m', '9.02m',
       '8.94m', '8.93m', '8.60m', '8.40m', '8.20m', '8.15m', '7.70m',
       '7.67m', '7.66m', '7.57m', '7.30m', '7.26m', '7.24m', '7.20m',
       '7.16m', '7.10m', '7.03m', '6.85m', '6.70m', '6.60m', '6.46m',
       '6.00m', '5.94m', '5.80m', '5.67m', '5.64m', '5.51m', '5.35m',
       '5.25m', '5.08m', '4.95m', '4.74m', '4.60m', '4.40m', '4.39m',
       '4.15m', '4.12m', '3.84m', '3.71m', '3.60m', '3.48m', '3.46m',
       '3.30m', '2.80m', '2.72m', '2.70m', '2.68m', '2.62m', '2.54m',
       '2.51m', '2.37m', '2.36m', '2.33m', '2.28m', '2.11m', '2.08m',
       '1.90m', '1.85m', '1.65m', '1.54m', '1.49m', '1.46m', '1.41m',
       '1.38m', '1.16m', '1.08m', '0.97m', '0.89m', '0.87m', '0.65m',
       '17.00m', '65.00m', '2.78m', '83.00m', '74.96m', '70.00m',
       '57.00m', '53.10m', '33.67m', '32.52m', '24.38m', '15.49m',
       '14.05m', '13.32m', '11.88m', '9.90m', '9.70m', '9.64m', '8.36m',
       '7.41m', '7.40m', '6.23m', '5.98m', '5.55m', '5.38m', '5.12m',
       '4.31m', '3.85m', '3.37m', '3.34m', '3.12m', '2.52m', '2.44m',
       '2.43m', '2.01m', '1.92m', '1.68m', '1.26m', '1.22m', '1.19m',
       '0.82m', '0.62m', '43.80m', '33.15m', '28.02m', '19.01m', '16.90m',
       '15.38m', '14.88m', '9.35m', '9.31m', '8.85m', '6.68m', '6.15m',
       '5.31m', '4.20m', '3.91m', '3.76m', '3.23m', '2.71m', '2.57m',
       '2.48m', '2.46m', '2.27m', '2.19m', '2.17m', '2.14m', '1.91m',
       '1.83m', '1.63m', '1.62m', '1.55m', '1.39m', '1.28m', '1.21m',
       '1.12m', '1.09m', '0.96m', '0.90m', '0.68m', '40.60m', '13.50m',
       '4.70m', '80.00m', '40.00m', '13.20m', '11.64m', '6.35m', '5.10m',
       '4.07m', '3.04m', '2.86m', '74.57m', '29.66m', '24.00m', '20.34m',
       '12.31m', '11.14m', '9.50m', '7.21m', '5.21m', '4.64m', '3.74m',
       '3.11m', '2.95m', '1.34m', '418.37m', '101.86m', '50.26m',
       '41.00m', '40.24m', '30.80m', '30.32m', '27.66m', '27.65m',
       '26.00m', '23.00m', '20.61m', '18.14m', '17.28m', '17.20m',
       '13.42m', '13.17m', '12.88m', '12.80m', '12.13m', '11.96m',
       '11.91m', '11.66m', '11.18m', '11.06m', '10.55m', '9.07m', '8.42m',
       '7.46m', '7.39m', '7.06m', '6.96m', '6.82m', '6.64m', '6.53m',
       '5.91m', '5.89m', '5.82m', '5.70m', '5.69m', '5.57m', '5.54m',
       '5.43m', '5.27m', '5.19m', '5.15m', '5.13m', '5.07m', '4.83m',
       '4.58m', '4.23m', '4.09m', '4.02m', '3.79m', '3.65m', '3.61m',
       '3.51m', '3.45m', '3.35m', '3.28m', '3.16m', '3.13m', '2.99m',
       '2.97m', '2.94m', '2.83m', '2.79m', '2.69m', '2.66m', '2.60m',
       '2.45m', '2.35m', '1.67m', '1.57m', '1.47m', '0.91m', '0.76m',
       '520.00m', '35.16m', '35.00m', '27.03m', '13.97m', '11.60m',
       '11.43m', '8.59m', '6.94m', '5.87m', '5.58m', '4.87m', '4.85m',
       '3.72m', '2.98m', '2.74m', '1.94m', '1.88m', '0.93m', '182.15m',
       '150.00m', '90.00m', '60.58m', '37.38m', '23.60m', '19.00m',
       '18.98m', '18.50m', '17.80m', '15.60m', '14.89m', '12.98m',
       '11.95m', '11.76m', '10.90m', '10.85m', '9.87m', '9.37m', '8.90m',
       '8.76m', '8.46m', '6.88m', '6.47m', '5.22m', '4.97m', '4.88m',
       '4.67m', '3.41m', '2.26m', '1.96m', '1.73m', '1.59m', '0.85m',
       '482.74m', '185.00m', '97.00m', '92.20m', '89.00m', '75.00m',
       '69.99m', '60.00m', '55.00m', '51.43m', '38.26m', '36.00m',
       '35.18m', '31.38m', '30.29m', '26.17m', '24.36m', '23.10m',
       '20.80m', '20.24m', '17.67m', '17.26m', '16.72m', '16.40m',
       '16.32m', '16.22m', '15.90m', '15.64m', '15.07m', '15.06m',
       '14.83m', '14.64m', '14.60m', '14.10m', '13.47m', '12.72m',
       '12.58m', '12.40m', '12.22m', '11.20m', '10.46m', '10.10m',
       '9.75m', '9.60m', '9.36m', '9.19m', '8.52m', '8.30m', '7.71m',
       '7.65m', '7.47m', '6.81m', '6.73m', '6.50m', '6.49m', '6.40m',
       '6.39m', '5.83m', '5.76m', '5.49m', '5.45m', '5.28m', '5.20m',
       '5.05m', '4.90m', '4.80m', '4.56m', '3.98m', '3.90m', '3.86m',
       '3.81m', '3.80m', '3.64m', '3.58m', '3.49m', '3.44m', '3.39m',
       '3.29m', '3.14m', '3.10m', '3.09m', '3.01m', '2.77m', '2.67m',
       '2.41m', '2.21m', '2.18m', '1.99m', '1.95m', '1.89m', '1.61m',
       '0.88m', '0.64m', '0.53m', '32.00m', '425.00m', '88.70m', '81.00m',
       '52.50m', '44.33m', '42.00m', '39.00m', '36.60m', '33.71m',
       '33.10m', '30.26m', '28.31m', '28.00m', '22.70m', '21.00m',
       '16.20m', '15.70m', '13.06m', '11.71m', '11.50m', '9.97m', '9.88m',
       '8.53m', '8.09m', '5.90m', '5.81m', '5.79m', '5.36m', '4.51m',
       '3.92m', '2.84m', '2.03m', '1.69m', '1.29m', '0.84m', '79.69m',
       '44.79m', '33.33m', '28.65m', '23.96m', '22.20m', '17.23m',
       '13.05m', '11.75m', '10.48m', '6.72m', '6.03m', '4.69m', '4.32m',
       '3.63m', '2.64m', '2.23m', '1.98m', '0.92m', '325.00m', '146.00m',
       '130.00m', '128.52m', '112.50m', '82.90m', '33.14m', '31.12m',
       '30.90m', '26.40m', '25.10m', '22.67m', '21.13m', '16.75m',
       '14.19m', '12.35m', '10.50m', '8.50m', '6.74m', '4.01m', '3.08m',
       '2.39m', '2.32m', '2.12m', '69.00m', '44.89m', '30.82m', '21.80m',
       '19.10m', '10.35m', '9.72m', '5.46m', '2.29m', '2.09m', '1.97m'],
      dtype=object)

### Cleaning task list
#### 1) Drop the Developer(s) column as many entries contain multiple making it hard for future analysis
#### 2) Drop the Units sold column as there too many null values for it to be of any value
#### 3) Convert all NaN entries in the Sales column to 0 as it represents 0 sales rather than missing info
#### 4) Convert all columns to the appropriate data type
#### 5) The release date will be split into a year and month column
#### 6) Correct the publisher column name
#### 7) Any other entries that contain any missing info will be removed

## Task 1

In [244]:
#Task 1
df = df.drop(['Developer(s)'], axis = 1)
df

,Video Game Title,Genre,Console,Publishers(s),Units Sold,Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,The Walking Dead: Telltale Games Series,Adventure,Series,Telltale Games,50.00m,NaN,NaN,NaN,NaN,NaN,24th Apr 12
1,Professor Layton,Adventure,Series,Nintendo,18.00m,NaN,NaN,NaN,NaN,NaN,10th Feb 08
2,Myst,Adventure,Series,Broderbund,12.50m,NaN,NaN,NaN,NaN,NaN,24th Sep 93
3,Ace Attorney,Adventure,Series,Capcom,11.00m,NaN,NaN,NaN,NaN,NaN,12th Oct 05
4,Broken Sword,Adventure,Series,Virgin Interactive,10.00m,NaN,NaN,NaN,NaN,NaN,30th Sep 96
...,...,...,...,...,...,...,...,...,...,...,...
64963,XBlaze Lost: Memories,Visual+Novel,PC,Aksys Games,NaN,NaN,NaN,NaN,NaN,NaN,11th Aug 16
64964,"Yoru, Tomosu",Visual+Novel,NS,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64965,"Yoru, Tomosu",Visual+Novel,PS4,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64966,Yunohana SpRING! ~Mellow Times~,Visual+Novel,NS,Idea Factory,NaN,NaN,NaN,NaN,NaN,NaN,28th Feb 19
64967,Yurukill: The Calumniation Games,Visual+Novel,PS4,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Task 2

In [245]:
#Task 2
df = df.drop(['Units Sold'], axis = 1)
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,The Walking Dead: Telltale Games Series,Adventure,Series,Telltale Games,NaN,NaN,NaN,NaN,NaN,24th Apr 12
1,Professor Layton,Adventure,Series,Nintendo,NaN,NaN,NaN,NaN,NaN,10th Feb 08
2,Myst,Adventure,Series,Broderbund,NaN,NaN,NaN,NaN,NaN,24th Sep 93
3,Ace Attorney,Adventure,Series,Capcom,NaN,NaN,NaN,NaN,NaN,12th Oct 05
4,Broken Sword,Adventure,Series,Virgin Interactive,NaN,NaN,NaN,NaN,NaN,30th Sep 96
...,...,...,...,...,...,...,...,...,...,...
64963,XBlaze Lost: Memories,Visual+Novel,PC,Aksys Games,NaN,NaN,NaN,NaN,NaN,11th Aug 16
64964,"Yoru, Tomosu",Visual+Novel,NS,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64965,"Yoru, Tomosu",Visual+Novel,PS4,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,30th Jul 20
64966,Yunohana SpRING! ~Mellow Times~,Visual+Novel,NS,Idea Factory,NaN,NaN,NaN,NaN,NaN,28th Feb 19
64967,Yurukill: The Calumniation Games,Visual+Novel,PS4,Unknown,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
# Task 3
df['Total Sales'] = df['Total Sales'].fillna(0)
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,The Walking Dead: Telltale Games Series,Adventure,Series,Telltale Games,0,NaN,NaN,NaN,NaN,24th Apr 12
1,Professor Layton,Adventure,Series,Nintendo,0,NaN,NaN,NaN,NaN,10th Feb 08
2,Myst,Adventure,Series,Broderbund,0,NaN,NaN,NaN,NaN,24th Sep 93
3,Ace Attorney,Adventure,Series,Capcom,0,NaN,NaN,NaN,NaN,12th Oct 05
4,Broken Sword,Adventure,Series,Virgin Interactive,0,NaN,NaN,NaN,NaN,30th Sep 96
...,...,...,...,...,...,...,...,...,...,...
64963,XBlaze Lost: Memories,Visual+Novel,PC,Aksys Games,0,NaN,NaN,NaN,NaN,11th Aug 16
64964,"Yoru, Tomosu",Visual+Novel,NS,Nippon Ichi Software,0,NaN,NaN,NaN,NaN,30th Jul 20
64965,"Yoru, Tomosu",Visual+Novel,PS4,Nippon Ichi Software,0,NaN,NaN,NaN,NaN,30th Jul 20
64966,Yunohana SpRING! ~Mellow Times~,Visual+Novel,NS,Idea Factory,0,NaN,NaN,NaN,NaN,28th Feb 19
64967,Yurukill: The Calumniation Games,Visual+Novel,PS4,Unknown,0,NaN,NaN,NaN,NaN,NaN

#### If Total Sales results in 0, then the rest of sales columns should follow suit, therefore we will drop all rows that contains the value of 0 for the Total Sales column

In [247]:
df = df[df['Total Sales'] != 0]
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
15,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24m,2.30m,2.46m,0.20m,0.28m,31st Oct 97
31,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76m,2.40m,1.01m,NaN,0.36m,03rd Jun 08
33,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54m,1.66m,1.58m,0.12m,0.18m,21st Nov 98
34,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44m,2.07m,1.04m,NaN,0.34m,23rd Sep 08
36,L.A. Noire,Adventure,PS3,Rockstar Games,3.21m,1.29m,1.31m,0.12m,0.49m,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
64649,"Nora, Princess, and Stray Cat",Visual+Novel,NS,Harukaze,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18
64650,Memories Off: Innocent File,Visual+Novel,NS,5pb,0.00m,NaN,NaN,0.00m,NaN,25th Oct 18
64651,Enkan no Memoria: Kakera Tomoshi,Visual+Novel,PSV,Dramatic Create,0.00m,NaN,NaN,0.00m,NaN,29th Mar 18
64652,Disorder 6,Visual+Novel,X360,5pb,0.00m,NaN,NaN,0.00m,NaN,22nd Aug 13
64653,Zero Escape: Virtue's Last Reward,Visual+Novel,PSV,Aksys Games,0.00m,NaN,0.00m,NaN,0.00m,23rd Oct 12

#### Now we can see that there are Total Sales values of 0.00m. We will proceed to remove those rows as well.

In [248]:
df = df[df['Total Sales'] != '0.00m']
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
15,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24m,2.30m,2.46m,0.20m,0.28m,31st Oct 97
31,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76m,2.40m,1.01m,NaN,0.36m,03rd Jun 08
33,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54m,1.66m,1.58m,0.12m,0.18m,21st Nov 98
34,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44m,2.07m,1.04m,NaN,0.34m,23rd Sep 08
36,L.A. Noire,Adventure,PS3,Rockstar Games,3.21m,1.29m,1.31m,0.12m,0.49m,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
64628,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01m,NaN,NaN,0.01m,NaN,17th May 18
64629,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01m,NaN,NaN,0.01m,NaN,22nd Mar 18
64630,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01m,NaN,NaN,0.01m,NaN,29th Mar 18
64631,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01m,NaN,NaN,0.01m,NaN,02nd May 19
64632,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01m,NaN,NaN,0.01m,NaN,31st May 18

## Task 3

#### Now we proceed to set NaN values from the other sales columns to '0.00m'

In [249]:
df['NA Sales'] = df['NA Sales'].fillna('0.00m')
df['PAL Sales'] = df['PAL Sales'].fillna('0.00m')
df['JP Sales'] = df['JP Sales'].fillna('0.00m')
df['Other Sales'] = df['Other Sales'].fillna('0.00m')
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
15,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24m,2.30m,2.46m,0.20m,0.28m,31st Oct 97
31,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76m,2.40m,1.01m,0.00m,0.36m,03rd Jun 08
33,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54m,1.66m,1.58m,0.12m,0.18m,21st Nov 98
34,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44m,2.07m,1.04m,0.00m,0.34m,23rd Sep 08
36,L.A. Noire,Adventure,PS3,Rockstar Games,3.21m,1.29m,1.31m,0.12m,0.49m,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
64628,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01m,0.00m,0.00m,0.01m,0.00m,17th May 18
64629,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01m,0.00m,0.00m,0.01m,0.00m,22nd Mar 18
64630,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01m,0.00m,0.00m,0.01m,0.00m,29th Mar 18
64631,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01m,0.00m,0.00m,0.01m,0.00m,02nd May 19
64632,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01m,0.00m,0.00m,0.01m,0.00m,31st May 18

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17570 entries, 15 to 64632
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Video Game Title  17570 non-null  object
 1   Genre             17570 non-null  object
 2   Console           17570 non-null  object
 3   Publishers(s)     17570 non-null  object
 4   Total Sales       17570 non-null  object
 5   NA Sales          17570 non-null  object
 6   PAL Sales         17570 non-null  object
 7   JP Sales          17570 non-null  object
 8   Other Sales       17570 non-null  object
 9   Release Date      17517 non-null  object
dtypes: object(10)
memory usage: 1.5+ MB

#### From the dataframe info above, we see that the Release Date column has some remaining null values that need to be taken care of. We'll go ahead and fix that before moving onto task 4

In [251]:
df['Release Date'] = df['Release Date'].fillna(0)
df = df[df['Release Date'] != 0]
df

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
15,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24m,2.30m,2.46m,0.20m,0.28m,31st Oct 97
31,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76m,2.40m,1.01m,0.00m,0.36m,03rd Jun 08
33,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54m,1.66m,1.58m,0.12m,0.18m,21st Nov 98
34,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44m,2.07m,1.04m,0.00m,0.34m,23rd Sep 08
36,L.A. Noire,Adventure,PS3,Rockstar Games,3.21m,1.29m,1.31m,0.12m,0.49m,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
64628,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01m,0.00m,0.00m,0.01m,0.00m,17th May 18
64629,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01m,0.00m,0.00m,0.01m,0.00m,22nd Mar 18
64630,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01m,0.00m,0.00m,0.01m,0.00m,29th Mar 18
64631,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01m,0.00m,0.00m,0.01m,0.00m,02nd May 19
64632,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01m,0.00m,0.00m,0.01m,0.00m,31st May 18

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17517 entries, 15 to 64632
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Video Game Title  17517 non-null  object
 1   Genre             17517 non-null  object
 2   Console           17517 non-null  object
 3   Publishers(s)     17517 non-null  object
 4   Total Sales       17517 non-null  object
 5   NA Sales          17517 non-null  object
 6   PAL Sales         17517 non-null  object
 7   JP Sales          17517 non-null  object
 8   Other Sales       17517 non-null  object
 9   Release Date      17517 non-null  object
dtypes: object(10)
memory usage: 1.5+ MB

## Task 4

#### First we will create a quick checkpoint and then reset the df index

In [253]:
df_task4 = df.copy()
df_task4.index = range(len(df_task4.index))
df_task4

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24m,2.30m,2.46m,0.20m,0.28m,31st Oct 97
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76m,2.40m,1.01m,0.00m,0.36m,03rd Jun 08
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54m,1.66m,1.58m,0.12m,0.18m,21st Nov 98
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44m,2.07m,1.04m,0.00m,0.34m,23rd Sep 08
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21m,1.29m,1.31m,0.12m,0.49m,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01m,0.00m,0.00m,0.01m,0.00m,17th May 18
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01m,0.00m,0.00m,0.01m,0.00m,22nd Mar 18
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01m,0.00m,0.00m,0.01m,0.00m,29th Mar 18
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01m,0.00m,0.00m,0.01m,0.00m,02nd May 19
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01m,0.00m,0.00m,0.01m,0.00m,31st May 18

#### Now, we get rid of the 'm' in the Sales columns and convert the those columns to the proper data type

In [254]:
df_task4['Total Sales'] = df_task4['Total Sales'].str.replace('m','').astype(float)
df_task4['NA Sales'] = df_task4['NA Sales'].str.replace('m','').astype(float)
df_task4['PAL Sales'] = df_task4['PAL Sales'].str.replace('m','').astype(float)
df_task4['JP Sales'] = df_task4['JP Sales'].str.replace('m','').astype(float)
df_task4['Other Sales'] = df_task4['Other Sales'].str.replace('m','').astype(float)
df_task4

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,31st Oct 97
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,03rd Jun 08
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,21st Nov 98
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,23rd Sep 08
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,15th Nov 11
...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,17th May 18
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,22nd Mar 18
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,29th Mar 18
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,02nd May 19
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,31st May 18

#### Let's now convert Release Date to datetime

In [255]:
#Before converting to datetime, we stripped 'rd', 'st', 'nd', etc from the day of the week
df_task4['Release Date'] = df_task4['Release Date'].str[:2] + df_task4['Release Date'].str[4:]
df_task4['Release Date'] = pd.to_datetime(df_task4['Release Date'], format = '%d %b %y')
df_task4

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,1997-10-31
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,2008-06-03
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,1998-11-21
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,2008-09-23
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,2011-11-15
...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,2018-05-17
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,2018-03-22
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,2018-03-29
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,2019-05-02
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,2018-05-31

## Task 5

In [256]:
df_task5 = df_task4.copy()
df_task5

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,1997-10-31
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,2008-06-03
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,1998-11-21
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,2008-09-23
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,2011-11-15
...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,2018-05-17
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,2018-03-22
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,2018-03-29
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,2019-05-02
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,2018-05-31

##### Let us now split the date time into a year and month column

In [257]:
#First months
list_months = []
for i in range(len(df_task5)):
    list_months.append(df_task5['Release Date'][i].month)
list_months

[10,
 6,
 11,
 9,
 11,
 11,
 9,
 9,
 11,
 11,
 10,
 6,
 10,
 6,
 6,
 10,
 11,
 6,
 4,
 10,
 11,
 11,
 10,
 5,
 5,
 8,
 10,
 11,
 10,
 6,
 10,
 9,
 9,
 10,
 10,
 11,
 6,
 6,
 10,
 9,
 3,
 11,
 9,
 9,
 9,
 11,
 6,
 10,
 10,
 11,
 9,
 6,
 10,
 11,
 11,
 10,
 10,
 12,
 9,
 11,
 1,
 9,
 8,
 6,
 10,
 11,
 6,
 12,
 2,
 10,
 9,
 3,
 6,
 11,
 10,
 10,
 4,
 11,
 10,
 6,
 1,
 10,
 6,
 2,
 9,
 8,
 10,
 9,
 9,
 11,
 8,
 11,
 6,
 11,
 4,
 9,
 10,
 10,
 11,
 11,
 4,
 10,
 9,
 6,
 2,
 4,
 10,
 11,
 12,
 11,
 7,
 11,
 5,
 11,
 1,
 10,
 5,
 3,
 11,
 11,
 10,
 11,
 9,
 11,
 11,
 12,
 12,
 9,
 11,
 1,
 10,
 6,
 12,
 10,
 5,
 11,
 11,
 11,
 10,
 9,
 10,
 1,
 10,
 11,
 4,
 9,
 11,
 1,
 1,
 12,
 10,
 8,
 5,
 3,
 9,
 11,
 9,
 3,
 10,
 9,
 6,
 10,
 6,
 10,
 2,
 10,
 10,
 3,
 5,
 10,
 9,
 3,
 2,
 12,
 3,
 6,
 3,
 6,
 6,
 8,
 12,
 11,
 10,
 6,
 10,
 11,
 8,
 11,
 3,
 8,
 3,
 10,
 10,
 11,
 3,
 9,
 9,
 11,
 10,
 10,
 7,
 9,
 12,
 10,
 10,
 11,
 10,
 7,
 9,
 5,
 6,
 5,
 6,
 7,
 12,
 2,
 3,
 1,
 11,
 4,
 12,
 5,
 6,
 12,
 10,
 1,
 6,
 6,
 11,
 6,
 11,
 11,
 4,
 7,
 2,
 10,
 5,
 11,
 10,
 10,
 10,
 4,
 7,
 2,
 10,
 10,
 11,
 6,
 10,
 10,
 9,
 3,
 12,
 3,
 9,
 3,
 11,
 9,
 11,
 11,
 3,
 10,
 8,
 10,
 11,
 1,
 7,
 11,
 2,
 11,
 6,
 2,
 5,
 9,
 9,
 10,
 10,
 11,
 3,
 9,
 12,
 9,
 12,
 6,
 7,
 11,
 9,
 10,
 11,
 9,
 11,
 12,
 6,
 6,
 11,
 9,
 10,
 12,
 11,
 2,
 2,
 7,
 12,
 11,
 3,
 9,
 1,
 7,
 3,
 6,
 6,
 11,
 11,
 3,
 5,
 9,
 7,
 10,
 1,
 11,
 6,
 10,
 11,
 9,
 8,
 12,
 11,
 6,
 11,
 11,
 6,
 1,
 3,
 11,
 11,
 11,
 11,
 1,
 10,
 11,
 4,
 2,
 10,
 9,
 11,
 10,
 11,
 9,
 9,
 11,
 11,
 3,
 11,
 10,
 10,
 10,
 3,
 3,
 1,
 10,
 4,
 9,
 10,
 12,
 7,
 8,
 3,
 3,
 8,
 7,
 11,
 10,
 11,
 3,
 11,
 11,
 11,
 9,
 10,
 11,
 10,
 11,
 10,
 7,
 7,
 8,
 2,
 11,
 11,
 6,
 10,
 11,
 11,
 11,
 7,
 4,
 9,
 6,
 10,
 9,
 11,
 8,
 10,
 10,
 11,
 11,
 11,
 6,
 11,
 5,
 10,
 9,
 10,
 1,
 9,
 2,
 7,
 3,
 9,
 9,
 3,
 9,
 11,
 2,
 3,
 2,
 8,
 5,
 11,
 3,
 10,
 6,
 3,
 3,
 5,
 4,
 1,
 9,
 10,
 10,
 8,
 10,
 11,
 12,
 1,
 3,
 11,
 10,
 3,
 11,
 3,
 6,
 11,
 3,
 10,
 11,
 12,
 9,
 4,
 7,
 10,
 11,
 11,
 3,
 3,
 8,
 10,
 11,
 8,
 10,
 11,
 2,
 12,
 9,
 1,
 11,
 8,
 3,
 8,
 10,
 2,
 11,
 7,
 12,
 1,
 12,
 3,
 10,
 9,
 10,
 7,
 7,
 11,
 9,
 6,
 7,
 8,
 7,
 2,
 10,
 11,
 3,
 5,
 7,
 3,
 1,
 9,
 7,
 3,
 11,
 11,
 11,
 11,
 10,
 10,
 1,
 11,
 9,
 11,
 12,
 1,
 11,
 11,
 11,
 11,
 12,
 11,
 3,
 12,
 11,
 12,
 10,
 10,
 12,
 2,
 5,
 11,
 6,
 7,
 9,
 6,
 3,
 3,
 7,
 11,
 10,
 11,
 3,
 11,
 11,
 2,
 6,
 1,
 3,
 7,
 11,
 8,
 10,
 3,
 3,
 9,
 10,
 12,
 9,
 11,
 10,
 5,
 8,
 4,
 12,
 6,
 5,
 1,
 2,
 11,
 11,
 2,
 8,
 4,
 9,
 12,
 9,
 5,
 11,
 3,
 1,
 10,
 6,
 1,
 4,
 10,
 6,
 3,
 8,
 2,
 5,
 9,
 1,
 2,
 9,
 5,
 5,
 2,
 8,
 10,
 1,
 5,
 7,
 10,
 11,
 11,
 8,
 11,
 9,
 10,
 5,
 11,
 4,
 1,
 12,
 5,
 9,
 1,
 6,
 10,
 6,
 7,
 6,
 12,
 1,
 10,
 6,
 11,
 8,
 9,
 12,
 8,
 9,
 9,
 5,
 5,
 9,
 9,
 1,
 6,
 12,
 8,
 11,
 8,
 10,
 11,
 11,
 2,
 9,
 12,
 4,
 11,
 2,
 10,
 11,
 2,
 10,
 8,
 1,
 3,
 11,
 10,
 9,
 2,
 12,
 10,
 3,
 11,
 7,
 7,
 11,
 10,
 10,
 9,
 2,
 9,
 1,
 7,
 3,
 8,
 9,
 2,
 11,
 8,
 5,
 9,
 2,
 1,
 8,
 6,
 10,
 10,
 2,
 2,
 8,
 4,
 11,
 10,
 4,
 11,
 9,
 10,
 7,
 11,
 3,
 4,
 5,
 8,
 6,
 12,
 7,
 8,
 11,
 10,
 11,
 11,
 8,
 3,
 9,
 4,
 10,
 1,
 8,
 2,
 9,
 6,
 9,
 2,
 3,
 3,
 7,
 9,
 6,
 9,
 12,
 2,
 9,
 6,
 11,
 2,
 10,
 3,
 3,
 5,
 9,
 12,
 2,
 12,
 1,
 6,
 9,
 8,
 10,
 5,
 1,
 3,
 11,
 6,
 12,
 4,
 12,
 1,
 12,
 5,
 3,
 3,
 5,
 4,
 9,
 12,
 8,
 10,
 10,
 12,
 10,
 12,
 12,
 6,
 11,
 12,
 10,
 6,
 3,
 1,
 3,
 11,
 3,
 9,
 2,
 12,
 4,
 4,
 3,
 8,
 3,
 6,
 11,
 10,
 6,
 12,
 5,
 10,
 10,
 3,
 4,
 3,
 10,
 11,
 9,
 5,
 9,
 3,
 10,
 9,
 10,
 11,
 9,
 11,
 3,
 9,
 2,
 9,
 11,
 9,
 9,
 10,
 11,
 1,
 12,
 11,
 2,
 12,
 10,
 9,
 4,
 9,
 1,
 1,
 5,
 10,
 2,
 11,
 11,
 6,
 11,
 3,
 11,
 2,
 3,
 7,
 9,
 2,
 2,
 9,
 6,
 8,
 9,
 10,
 7,
 7,
 6,
 12,
 3,
 3,
 11,
 9,
 12,
 9,
 4,
 1,
 4,
 7,
 4,
 11,
 6,
 3,
 12,
 7,
 9,
 8,
 4,
 2,
 6,
 8,
 1,
 3,
 10,
 11,
 10,
 3,
 5,
 11,
 4,
 12,
 10,
 6,
 9,
 3,
 10,
 12,
 10,
 7,
 12,
 5,
 10,
 9,
 4,
 11,
 9,
 3,
 4,
 3,
 2,
 11,
 9,
 3,
 12,
 7,
 10,
 9,
 5,
 11,
 9,
 1,
 10,
 9,
 9,
 12,
 7,
 11,
 7,
 12,
 9,
 1,
 11,
 10,
 10,
 3,
 10,
 12,
 10,
 2,
 10,
 7,
 8,
 11,
 6,
 11,
 9,
 9,
 1,
 12,
 3,
 10,
 12,
 3,
 2,
 9,
 9,
 10,
 4,
 4,
 10,
 10,
 7,
 10,
 8,
 4,
 2,
 9,
 8,
 3,
 10,
 9,
 6,
 5,
 6,
 7,
 7,
 4,
 9,
 7,
 11,
 10,
 11,
 12,
 8,
 12,
 8,
 2,
 7,
 5,
 11,
 1,
 9,
 ...]

In [258]:
len(list_months)

17517

In [259]:
#Next years
list_years = []
for i in range(len(df_task5)):
    list_years.append(df_task5['Release Date'][i].year)
list_years

[1997,
 2008,
 1998,
 2008,
 2011,
 2008,
 2008,
 2008,
 2011,
 2002,
 2009,
 2010,
 2001,
 2008,
 2010,
 1997,
 2003,
 2008,
 2010,
 2016,
 2002,
 2002,
 2001,
 2001,
 2001,
 1999,
 2001,
 2004,
 2007,
 2010,
 2008,
 2006,
 2008,
 2012,
 2007,
 2009,
 2008,
 2010,
 2007,
 2011,
 2009,
 1999,
 2008,
 2008,
 2008,
 2008,
 2006,
 2015,
 2006,
 2009,
 1999,
 2008,
 2005,
 2005,
 2009,
 2014,
 2009,
 2008,
 2009,
 2008,
 2008,
 2009,
 1999,
 2008,
 2009,
 2009,
 2004,
 2008,
 2008,
 2006,
 2009,
 2005,
 2005,
 2003,
 2011,
 2005,
 2008,
 2009,
 2015,
 2004,
 2008,
 2015,
 2007,
 2004,
 2009,
 1998,
 1998,
 1996,
 2005,
 2012,
 2014,
 1994,
 2004,
 2004,
 2009,
 2007,
 2015,
 2004,
 2012,
 2010,
 2009,
 2009,
 2008,
 2010,
 2010,
 2009,
 2004,
 2002,
 2005,
 2005,
 2010,
 2004,
 2010,
 2005,
 2017,
 2009,
 2009,
 2008,
 2008,
 1998,
 2007,
 2007,
 1998,
 2005,
 2017,
 2007,
 2007,
 1999,
 2009,
 2010,
 2017,
 2011,
 2005,
 2004,
 2009,
 2007,
 2008,
 2003,
 2001,
 1996,
 2001,
 2007,
 2011,
 2003,
 1998,
 1997,
 2003,
 2007,
 2000,
 2007,
 2014,
 2005,
 2004,
 2010,
 2004,
 2009,
 2004,
 2010,
 2006,
 2004,
 2011,
 2006,
 2008,
 2008,
 1992,
 2006,
 2014,
 2010,
 2009,
 2018,
 2001,
 2012,
 2009,
 2009,
 2018,
 2006,
 2008,
 2007,
 2005,
 2017,
 2007,
 2008,
 2009,
 2008,
 2007,
 2017,
 2017,
 2003,
 2004,
 2002,
 1996,
 2007,
 2004,
 2005,
 2011,
 2004,
 1999,
 2005,
 2007,
 2000,
 2011,
 2001,
 2001,
 2009,
 1997,
 2009,
 2005,
 2002,
 2009,
 2009,
 2007,
 2008,
 2000,
 2009,
 2009,
 2006,
 2009,
 2011,
 1991,
 2000,
 2003,
 2008,
 2004,
 2007,
 2008,
 2016,
 1998,
 2009,
 2003,
 2007,
 2015,
 2010,
 1996,
 2002,
 2005,
 2009,
 2008,
 2002,
 2008,
 2005,
 2009,
 2009,
 2005,
 2014,
 2005,
 2004,
 2003,
 2011,
 2006,
 2014,
 2009,
 2003,
 2011,
 2001,
 2010,
 2012,
 2003,
 2002,
 1997,
 2008,
 2002,
 2002,
 1996,
 2007,
 2006,
 2010,
 2005,
 2005,
 2006,
 2009,
 2007,
 2004,
 2009,
 2016,
 2005,
 2009,
 2014,
 2010,
 2002,
 2009,
 2008,
 2014,
 2007,
 2006,
 2007,
 2005,
 2004,
 2009,
 2006,
 2002,
 2010,
 2000,
 2009,
 2007,
 2010,
 2017,
 2008,
 2011,
 2008,
 2011,
 2014,
 2004,
 2002,
 2001,
 2015,
 2008,
 2002,
 2008,
 2009,
 2006,
 2002,
 2017,
 2006,
 2010,
 2009,
 2017,
 2008,
 2009,
 1998,
 2008,
 2006,
 2008,
 2006,
 2012,
 2009,
 2011,
 2003,
 2007,
 2004,
 2008,
 2004,
 1970,
 2009,
 2009,
 2005,
 2005,
 2010,
 2011,
 2015,
 2010,
 2009,
 2009,
 2007,
 2008,
 2009,
 2007,
 2004,
 2010,
 2009,
 2014,
 2008,
 2018,
 2008,
 2010,
 2007,
 2009,
 2004,
 2002,
 1997,
 2011,
 2009,
 2009,
 2009,
 2005,
 1996,
 2009,
 2001,
 2010,
 2013,
 1998,
 2000,
 2009,
 2016,
 2012,
 2009,
 2005,
 2010,
 2002,
 2009,
 2004,
 2009,
 2005,
 2006,
 2012,
 2015,
 2002,
 2008,
 2003,
 2010,
 2010,
 2008,
 2008,
 2004,
 2002,
 2009,
 2008,
 2009,
 2004,
 2007,
 2016,
 2008,
 2010,
 2007,
 2010,
 2003,
 2001,
 2010,
 2008,
 2005,
 2008,
 2015,
 2004,
 2008,
 2010,
 2017,
 2010,
 2005,
 2009,
 2014,
 2008,
 2001,
 2010,
 2000,
 2009,
 2001,
 2017,
 2010,
 2008,
 2003,
 2008,
 2017,
 2001,
 1999,
 2009,
 2000,
 2007,
 2004,
 2011,
 2010,
 1999,
 2012,
 2004,
 2002,
 2011,
 2004,
 2009,
 2003,
 2008,
 1992,
 2005,
 2002,
 2001,
 2004,
 1998,
 2014,
 2011,
 2011,
 2008,
 2010,
 2006,
 2010,
 2010,
 2007,
 2007,
 2011,
 2015,
 2005,
 2010,
 2013,
 2003,
 2016,
 1997,
 2007,
 2005,
 1998,
 2017,
 2013,
 2004,
 2005,
 2008,
 2014,
 2001,
 2019,
 2005,
 2011,
 2008,
 2000,
 1996,
 2007,
 2014,
 2000,
 2009,
 2010,
 2004,
 2007,
 2006,
 2011,
 2019,
 2002,
 2007,
 2003,
 1999,
 2011,
 2006,
 2002,
 2000,
 1997,
 2002,
 1999,
 1995,
 2011,
 2006,
 2002,
 2002,
 2010,
 2008,
 2004,
 2010,
 2008,
 2011,
 2016,
 2008,
 2000,
 2011,
 2010,
 2014,
 2004,
 2009,
 2012,
 2009,
 2006,
 2018,
 2016,
 2008,
 2001,
 2017,
 2008,
 2016,
 1997,
 2016,
 2002,
 2008,
 2006,
 1999,
 2011,
 1998,
 2010,
 2004,
 2005,
 2017,
 2017,
 2008,
 2016,
 2004,
 1993,
 2011,
 2017,
 2011,
 2010,
 2017,
 2005,
 2015,
 2018,
 2010,
 2008,
 2007,
 2017,
 2009,
 2001,
 2004,
 2011,
 1998,
 2008,
 2007,
 2003,
 2012,
 1998,
 2012,
 1998,
 2017,
 2008,
 2009,
 2017,
 2011,
 1998,
 2009,
 2017,
 2016,
 2008,
 2009,
 2011,
 2011,
 2010,
 2010,
 2008,
 2009,
 2009,
 2010,
 2008,
 2005,
 1997,
 2017,
 2007,
 2004,
 2006,
 2006,
 2012,
 2005,
 2007,
 2004,
 2003,
 2009,
 2011,
 2009,
 2006,
 2000,
 2001,
 1999,
 1996,
 2007,
 2011,
 2009,
 2007,
 2001,
 2009,
 2006,
 2003,
 2010,
 2003,
 2011,
 2011,
 2009,
 2009,
 1999,
 2011,
 2010,
 2009,
 2015,
 2008,
 2009,
 2008,
 2005,
 2000,
 2008,
 2011,
 2008,
 2004,
 2008,
 2008,
 2014,
 2011,
 2010,
 2012,
 2007,
 1997,
 2011,
 2018,
 2010,
 2006,
 2005,
 2012,
 2006,
 2010,
 1998,
 2010,
 2014,
 2011,
 2009,
 2015,
 2000,
 2011,
 2018,
 2014,
 2008,
 2008,
 2008,
 2005,
 2005,
 2008,
 2008,
 2009,
 1996,
 2006,
 2009,
 2004,
 2010,
 2016,
 2005,
 2002,
 2011,
 2009,
 2011,
 2008,
 2010,
 2002,
 2014,
 2011,
 2008,
 2009,
 2017,
 2011,
 2011,
 2016,
 2009,
 2016,
 2014,
 2017,
 2000,
 2010,
 2012,
 1997,
 2011,
 2005,
 2008,
 2009,
 2007,
 2016,
 2008,
 2006,
 1998,
 2010,
 1997,
 2009,
 2008,
 2011,
 2011,
 2009,
 2013,
 2008,
 1996,
 2010,
 2009,
 2011,
 2010,
 2010,
 1997,
 2016,
 2005,
 2014,
 2003,
 1998,
 2016,
 2008,
 2007,
 2010,
 2008,
 2008,
 2008,
 2010,
 2015,
 2017,
 2003,
 2014,
 2009,
 2010,
 2004,
 1994,
 2004,
 1999,
 2006,
 2006,
 2006,
 2008,
 2018,
 2019,
 2007,
 2009,
 2016,
 2002,
 2004,
 2009,
 2014,
 2005,
 2014,
 2018,
 2008,
 2018,
 2005,
 2014,
 2017,
 2018,
 2018,
 2001,
 2016,
 2006,
 2010,
 2009,
 2007,
 1995,
 2002,
 1998,
 2008,
 2000,
 2008,
 2004,
 2011,
 2015,
 2008,
 2008,
 2010,
 2008,
 2008,
 2016,
 2009,
 1995,
 2006,
 2011,
 2005,
 2009,
 2011,
 2015,
 2016,
 2007,
 2011,
 2008,
 2010,
 2002,
 2014,
 1995,
 2008,
 2015,
 1995,
 2017,
 2010,
 2002,
 2011,
 2010,
 2008,
 2015,
 2011,
 2016,
 1999,
 1995,
 2011,
 2000,
 2008,
 2000,
 2015,
 2004,
 2018,
 2008,
 2016,
 2009,
 2017,
 2010,
 2012,
 1995,
 2017,
 2010,
 2009,
 2012,
 2004,
 2009,
 2005,
 2010,
 2018,
 2016,
 2009,
 2014,
 2002,
 2011,
 2015,
 2011,
 2010,
 2007,
 2010,
 2009,
 2010,
 2001,
 2005,
 2009,
 2017,
 2004,
 2010,
 2016,
 2012,
 2010,
 2006,
 2011,
 1996,
 2010,
 2004,
 2015,
 2010,
 2006,
 2018,
 2008,
 2010,
 2008,
 2015,
 2007,
 2018,
 2008,
 1995,
 2007,
 2011,
 2009,
 2013,
 2008,
 2017,
 2009,
 2011,
 2011,
 2006,
 1996,
 2016,
 2012,
 2011,
 2008,
 2011,
 2018,
 2000,
 2006,
 2016,
 2009,
 2011,
 2009,
 2009,
 2014,
 2008,
 2017,
 2005,
 2008,
 2018,
 2009,
 2010,
 2004,
 2005,
 2017,
 2016,
 2011,
 2009,
 2006,
 2009,
 2009,
 2008,
 1999,
 2004,
 2009,
 2014,
 2010,
 2008,
 2010,
 2015,
 2007,
 2006,
 2016,
 2006,
 2018,
 2011,
 2011,
 2008,
 2010,
 2010,
 2010,
 2011,
 2014,
 2008,
 2015,
 2014,
 2011,
 2011,
 2018,
 1996,
 2007,
 2011,
 2017,
 2016,
 2007,
 2011,
 2016,
 2009,
 2018,
 2006,
 2018,
 2011,
 2011,
 2010,
 2011,
 2008,
 2008,
 2008,
 2012,
 1997,
 2006,
 2010,
 1998,
 2010,
 2010,
 2015,
 2001,
 2008,
 2008,
 2000,
 2016,
 2004,
 2011,
 2006,
 2017,
 2008,
 ...]

In [260]:
len(list_years)

17517

#### Let's add them into new columns

In [261]:
df_task5['Release Month'] = list_months
df_task5['Release Year'] = list_years
df_task5

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Date,Release Month,Release Year
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,1997-10-31,10,1997
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,2008-06-03,6,2008
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,1998-11-21,11,1998
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,2008-09-23,9,2008
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,2011-11-15,11,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,2018-05-17,5,2018
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,2018-03-22,3,2018
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,2018-03-29,3,2018
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,2019-05-02,5,2019
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,2018-05-31,5,2018

#### Let's finally go ahead and drop the release date column

In [262]:
df_task5 = df_task5.drop(['Release Date'], axis = 1)
df_task5

,Video Game Title,Genre,Console,Publishers(s),Total Sales,NA Sales,PAL Sales,JP Sales,Other Sales,Release Month,Release Year
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,10,1997
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,6,2008
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,11,1998
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,9,2008
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,11,2011
...,...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,5,2018
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,3,2018
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,3,2018
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,5,2019
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,5,2018

## Task 6

#### We are going to do some column renames here: Publishers(s) -> Publisher | Video Game Title -> Title | PAL Sales -> EU Sales
#### As well as adding a '(m)' to the Sales columns

In [263]:
df_task5.columns = ['Title', 'Genre', 'Console', 'Publisher', 'Total Sales (m)', 'NA Sales (m)', 'EU Sales (m)', 'JP Sales (m)',
                    'Other Sales (m)', 'Release Month', 'Release Year']
df_task5

,Title,Genre,Console,Publisher,Total Sales (m),NA Sales (m),EU Sales (m),JP Sales (m),Other Sales (m),Release Month,Release Year
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,10,1997
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,6,2008
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,11,1998
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,9,2008
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,11,2011
...,...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual+Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,5,2018
17513,Dance with Devils: My Carol,Visual+Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,3,2018
17514,Memories Off: Innocent File,Visual+Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,3,2018
17515,World End Syndrome,Visual+Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,5,2019
17516,Sweet Pool,Visual+Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,5,2018

#### We will replace the '+' with a ' ' in the genre column before finishing

In [264]:
df_task5['Genre'] = df_task5['Genre'].str.replace('+',' ')
df_task5

,Title,Genre,Console,Publisher,Total Sales (m),NA Sales (m),EU Sales (m),JP Sales (m),Other Sales (m),Release Month,Release Year
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,10,1997
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,6,2008
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,11,1998
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,9,2008
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,11,2011
...,...,...,...,...,...,...,...,...,...,...,...
17512,Amatsutsumi,Visual Novel,PSV,Prototype,0.01,0.00,0.00,0.01,0.00,5,2018
17513,Dance with Devils: My Carol,Visual Novel,PSV,Rejet,0.01,0.00,0.00,0.01,0.00,3,2018
17514,Memories Off: Innocent File,Visual Novel,PSV,MAGES,0.01,0.00,0.00,0.01,0.00,3,2018
17515,World End Syndrome,Visual Novel,NS,Arc System Works,0.01,0.00,0.00,0.01,0.00,5,2019
17516,Sweet Pool,Visual Novel,PSV,Dramatic Create,0.01,0.00,0.00,0.01,0.00,5,2018

## Final Step

In [265]:
df_cleaned = df_task5.copy()
df_cleaned.head(10)

,Title,Genre,Console,Publisher,Total Sales (m),NA Sales (m),EU Sales (m),JP Sales (m),Other Sales (m),Release Month,Release Year
0,Tomb Raider II,Adventure,PS,Eidos Interactive,5.24,2.30,2.46,0.20,0.28,10,1997
1,LEGO Indiana Jones: The Original Adventures,Adventure,X360,LucasArts,3.76,2.40,1.01,0.00,0.36,6,2008
2,Tomb Raider III: Adventures of Lara Croft,Adventure,PS,Eidos Interactive,3.54,1.66,1.58,0.12,0.18,11,1998
3,LEGO Batman: The Videogame,Adventure,X360,Warner Bros. Interactive,3.44,2.07,1.04,0.00,0.34,9,2008
4,L.A. Noire,Adventure,PS3,Rockstar Games,3.21,1.29,1.31,0.12,0.49,11,2011
5,Club Penguin: Elite Penguin Force,Adventure,DS,Disney Interactive Studios,3.14,1.87,0.97,0.00,0.30,11,2008
6,LEGO Batman: The Videogame,Adventure,Wii,Warner Bros. Interactive,3.08,1.80,0.98,0.00,0.29,9,2008
7,LEGO Batman: The Videogame,Adventure,DS,Warner Bros. Interactive,3.06,1.75,1.02,0.00,0.29,9,2008
8,L.A. Noire,Adventure,X360,Rockstar Games,2.73,1.55,0.92,0.02,0.24,11,2011
9,Harry Potter and the Chamber of Secrets,Adventure,PS2,Electronic Arts,2.61,0.90,1.22,0.04,0.44,11,2002

In [266]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17517 entries, 0 to 17516
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            17517 non-null  object
 1   Genre            17517 non-null  object
 2   Console          17517 non-null  object
 3   Publisher        17517 non-null  object
 4   Total Sales (m)  17517 non-null  float64
 5   NA Sales (m)     17517 non-null  float64
 6   EU Sales (m)     17517 non-null  float64
 7   JP Sales (m)     17517 non-null  float64
 8   Other Sales (m)  17517 non-null  float64
 9   Release Month    17517 non-null  int64
 10  Release Year     17517 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.5+ MB

In [267]:
df_cleaned.to_csv('game_info_cleaned.csv', index = False, header = True)
df_cleaned.to_excel('game_info_cleaned.xlsx', index = False, header = True)